<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= config.SERVER_NAME %></title>
    <!-- Style sheets -->
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Scripts -->
    <script src="js/BtnClearCache.js" defer></script>
    <script src="js/Background.js" defer></script>
    <script src="js/Link.js" defer></script>
    <script src="js/render.js" defer></script>
</head>
<body>

<img src="<%= config.LAUNCHER_BG_IMAGE %>" alt="" class="background-image" id="background-image">

<a title="Vider le cache de FiveM" id="btn-clear-cache" class="btn btn-clear-cache glass">
    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="icon">
        <g id="Trash">
            <path d="M7.13,11.58V25a3,3,0,0,0,3,3H21.88a3,3,0,0,0,3-3V11.58a1,1,0,0,0-1-1H8.13A1,1,0,0,0,7.13,11.58ZM13,23a1,1,0,0,1-2,0V15a1,1,0,0,1,2,0Zm4,0a1,1,0,0,1-2,0V15a1,1,0,0,1,2,0Zm4,0a1,1,0,0,1-2,0V15a1,1,0,0,1,2,0Z"/>
            <path d="M25.23,9.3A2.49,2.49,0,0,0,26,7.21,2.6,2.6,0,0,0,23.36,5H18.72A2,2,0,0,0,17,4H15a2,2,0,0,0-1.72,1H8.64A2.6,2.6,0,0,0,6,7.21,2.49,2.49,0,0,0,6.77,9.3a1,1,0,0,0,.71.29h17A1,1,0,0,0,25.23,9.3Z"/>
        </g>
    </svg>
</a>

<div class="page-content glass">
    <h1 id="server-name" class="server-name"><%= config.SERVER_NAME %></h1>
    <div class="information">
        <p class="player-count">Joueurs conectés : <span id="player-count">0</span> / <%= config.SERVER_MAX_SLOTS %></p>
        <div class="social-media">
            <a href="https://www.tomdepasse.be" class="btn-url">
                <svg class="icon" height="20px" viewBox="0 0 20 20" width="20px">
                    <g stroke-width="1">
                        <g transform="translate(-296.000000, -296.000000)">
                            <g transform="translate(296.000000, 296.000000)">
                                <path d="M10,0 C4.5,0 0,4.5 0,10 C0,15.5 4.5,20 10,20 C15.5,20 20,15.5 20,10 C20,4.5 15.5,0 10,0 L10,0 Z M16.9,6 L14,6 C13.7,4.7 13.2,3.6 12.6,2.4 C14.4,3.1 16,4.3 16.9,6 L16.9,6 Z M10,2 C10.8,3.2 11.5,4.5 11.9,6 L8.1,6 C8.5,4.6 9.2,3.2 10,2 L10,2 Z M2.3,12 C2.1,11.4 2,10.7 2,10 C2,9.3 2.1,8.6 2.3,8 L5.7,8 C5.6,8.7 5.6,9.3 5.6,10 C5.6,10.7 5.7,11.3 5.7,12 L2.3,12 L2.3,12 Z M3.1,14 L6,14 C6.3,15.3 6.8,16.4 7.4,17.6 C5.6,16.9 4,15.7 3.1,14 L3.1,14 Z M6,6 L3.1,6 C4.1,4.3 5.6,3.1 7.4,2.4 C6.8,3.6 6.3,4.7 6,6 L6,6 Z M10,18 C9.2,16.8 8.5,15.5 8.1,14 L11.9,14 C11.5,15.4 10.8,16.8 10,18 L10,18 Z M12.3,12 L7.7,12 C7.6,11.3 7.5,10.7 7.5,10 C7.5,9.3 7.6,8.7 7.7,8 L12.4,8 C12.5,8.7 12.6,9.3 12.6,10 C12.6,10.7 12.4,11.3 12.3,12 L12.3,12 Z M12.6,17.6 C13.2,16.5 13.7,15.3 14,14 L16.9,14 C16,15.7 14.4,16.9 12.6,17.6 L12.6,17.6 Z M14.4,12 C14.5,11.3 14.5,10.7 14.5,10 C14.5,9.3 14.4,8.7 14.4,8 L17.8,8 C18,8.6 18.1,9.3 18.1,10 C18.1,10.7 18,11.4 17.8,12 L14.4,12 L14.4,12 Z"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="" class="btn-url">
                <svg class="icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.222 0c1.406 0 2.54 1.137 2.607 2.475V24l-2.677-2.273-1.47-1.338-1.604-1.398.67 2.205H3.71c-1.402 0-2.54-1.065-2.54-2.476V2.48C1.17 1.142 2.31.003 3.715.003h16.5L20.222 0zm-6.118 5.683h-.03l-.202.2c2.073.6 3.076 1.537 3.076 1.537-1.336-.668-2.54-1.002-3.744-1.137-.87-.135-1.74-.064-2.475 0h-.2c-.47 0-1.47.2-2.81.735-.467.203-.735.336-.735.336s1.002-1.002 3.21-1.537l-.135-.135s-1.672-.064-3.477 1.27c0 0-1.805 3.144-1.805 7.02 0 0 1 1.74 3.743 1.806 0 0 .4-.533.805-1.002-1.54-.468-2.14-1.404-2.14-1.404s.134.066.335.2h.06c.03 0 .044.015.06.03v.006c.016.016.03.03.06.03.33.136.66.27.93.4.466.202 1.065.403 1.8.536.93.135 1.996.2 3.21 0 .6-.135 1.2-.267 1.8-.535.39-.2.87-.4 1.397-.737 0 0-.6.936-2.205 1.404.33.466.795 1 .795 1 2.744-.06 3.81-1.8 3.87-1.726 0-3.87-1.815-7.02-1.815-7.02-1.635-1.214-3.165-1.26-3.435-1.26l.056-.02zm.168 4.413c.703 0 1.27.6 1.27 1.335 0 .74-.57 1.34-1.27 1.34-.7 0-1.27-.6-1.27-1.334.002-.74.573-1.338 1.27-1.338zm-4.543 0c.7 0 1.266.6 1.266 1.335 0 .74-.57 1.34-1.27 1.34-.7 0-1.27-.6-1.27-1.334 0-.74.57-1.338 1.27-1.338z"/>
                </svg>
            </a>
            <a href="" class="btn-url">
                <svg class="icon" height="128px" viewBox="0 0 128 128" width="128px">
                    <path d="M87.392,64.486c0,10.931-8.855,19.799-19.791,19.799H60.39c-10.921,0-19.781-8.868-19.781-19.799V20.789  C40.608,9.859,49.468,1,60.39,1h7.211c10.936,0,19.791,8.859,19.791,19.789V64.486z"/>
                    <path d="M99.945,38.537c-3.354,0-6.072,2.719-6.072,6.072v25.264c-0.002,2.76-0.627,5.358-1.789,7.783  c-1.739,3.627-4.734,6.856-8.642,9.177c-3.904,2.32-8.688,3.716-13.907,3.715H58.457c-6.945,0.004-13.133-2.486-17.486-6.319  c-2.177-1.915-3.891-4.154-5.055-6.574c-1.163-2.424-1.788-5.022-1.79-7.781V44.609c0-3.354-2.719-6.072-6.072-6.072  s-6.072,2.719-6.072,6.072v25.264c-0.002,4.629,1.075,9.068,2.99,13.045c2.875,5.973,7.589,10.909,13.387,14.355  c5.232,3.108,11.377,5.002,17.946,5.347v18.875c0,3.044,2.47,5.505,5.518,5.505h4.36c3.036,0,5.52-2.461,5.52-5.505v-18.866  c9.001-0.476,17.191-3.866,23.353-9.282c3.324-2.925,6.063-6.45,7.976-10.431c1.914-3.977,2.989-8.415,2.987-13.043V44.609  C106.018,41.255,103.299,38.537,99.945,38.537z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="btn-play-container">
        <a href="<%= config.CONNECTION_STRING %>" id="btn-play" class="btn btn-play">Rejoindre notre serveur</a>
    </div>
</div>

</body>
</html>